{% extends "base.html.twig" %}
{% block title %}
	Patrons
{% endblock %}

{% block body %}
	<section class="flex flex-col justify-center max-w-6xl min-h-screen px-4 py-10 mx-auto sm:px-6">
		<div class="flex flex-wrap items-center justify-between mb-8">
			<h2 class="mr-10 text-4xl font-bold leading-none md:text-5xl">
				Les patrons
			</h2>
		</div>

		<div class="flex flex-wrap -mx-4">

			<div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col text-center justify-center">

				<a href="{{path('app_pattern_new')}}" class="inline-block pb-1 mt-2 text-base font-black text-blue-600 uppercase border-b border-transparent hover:border-blue-600">Ajouter un patron</a>

			</div>
			{% for pattern in patterns %}
				<div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
					<img src={{pattern.image}} alt="{{pattern.name}}" class="object-cover object-center w-full h-48"/>
					<div class="flex flex-grow">
						<div class="triangle"></div>
						<div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 text">
							<div>
								<a href="{{path('app_category_index')}}" class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600">{{pattern.categories.name}}</a>
								<a href="{{path('app_pattern_detail', {'id':pattern.id})}}" class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-blue-600">
									{{pattern.name}}
								</a>
								<p class="mb-4">
									{{pattern.description}}
								</p>
							</div>
							<div class="flex justify-between">
								<a href="{{path('app_pattern_edit', {'id':pattern.id})}}" class="inline-block pb-1 mt-2 text-base font-black text-blue-600 uppercase border-b border-transparent hover:border-blue-600">Modifier</a>
								<a href="{{path('app_pattern_delete', {'id':pattern.id})}}" class="inline-block pb-1 mt-2 text-base font-black text-blue-600 uppercase border-b border-transparent hover:border-blue-600">Supprimer</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</section>
{% endblock %}
